<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINI Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All chats</h1>
    <form action="/chats/new" method="get">
       <button class="btn">+</button>
    </form>
    <hr>
    <% for(chat of chats) {%>
        <div class="card">
            <div class="edit-dlt-form">
                <form action="/chats/<%=chat._id%>/edit" method="get" class="edit-btn-form">
                 <button>edit</button>
                </form>
                <form action="/chats/<%=chat._id%>?_method=delete" method="post" class="dlt-btn-form">
                     <button>delete</button>
                </form>
            </div>
            <h2>From : <i>@<%=chat.from%></i></h2>
            <h2>To : <i>@<%=chat.to%></i></h2>
            <h2 id="msg">message : <%=chat.message%></h2>
            <p><%=chat.created_at.toString().split(" ").slice(0,5).join(" ")%></p>
        </div>
        <hr>
    <%}%>
</body>
</html>